body
{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,173,233,1) 100%);
  padding: 10px;
  margin : 100px;
  border: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

